<div class="look_for">
  <%= search_form_for @q, url: search_wishes_path, class: "search_form" do |f| %>
    <%= f.collection_select(:state_id_eq, State.all, :id, :name, {}, {class:"state-select"}) %>
    <%= f.text_field :title_cont, placeholder: "検索ワード（任意）", class: "title_text_small" %>
    <%= f.submit "表示", class: "button" %>
  <% end %>
</div>