<% if user_signed_in? %>
  <div class="contents_row">
    <div class="slideshow-container">
      <h2>What do you wanna do?</h2>
        <img class="slide_image" src="images/cia.jpg" id="pics">
      <h2 id="pic-title">Enjoy your life!</h2>
      <button class="button_ja" id="playButton" onclick="playSlideshow();">PLAY</button>
    </div>

    <div class="my_top">
      <p><b>BUCKET LISTS</b> 一覧</p>
    </div>
    <%= render partial: "search", locals: { q: @q} %>
    <%= render partial: "listall", locals: { wish: @wishes} %>
  </div>
<% else %>
  <div class="pic_posi">
    <%= image_tag "presenttop.jpg", class: "top_pic" %>
    <p>あなたの <span class="font_strong">BUCKET LIST </span>
      <br>共有しませんか？
      <br>描ける空間、<span class="font_strong">自分色の人生を。</span>
    </p>
  </div>
<% end %>