<div class="contents row">
  <% @wants.each do |want| %>
    <div class="content_post">
      <p><%= want.title %></p>
      <span class="name">
        <%= want.name %>
      </span>
      <%= link_to '削除', want_path(want.id), method: :delete %>
    </div>
  <% end %>
</div>