<% if user_signed_in? %>
  <% if current_user.liked_by?(wish.id) %>
    <td>
      <%= link_to 'いいねを外す', destroy_like_path(wish.id), method: :delete, remote: true %>
      <%= wish.likes.count %>
    </td>
  <% else %>
    <td>
      <%= link_to 'いいね', create_like_path(wish.id),method: :POST, remote: true %>
      <%= wish.likes.count %>
    </td>
  <% end %>
<% end %>