<div class="contents_row">
  <div class="my_top">
    <p>いいね 一覧</p>
  </div>
  <div class="list_frame">
  <% if @likes.present? %>
    <table>
      <thead>
        <tr>
          <th>name</th>
        </tr>
      </thead>
      <tbody>
      <% @likes.each do |like| %>
          <tr>
            <td><a href="/users/<%= like.user.id %>"><%= like.user.nickname %></a>さん</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>いいねしたユーザーはいません</p>
  <% end %>
</div>