/* 検索フォーム */
.search_form  {
  margin: 40px 0;
}

/* 詳細・編集・削除ボタン */
.btn-flat-border {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  border: solid 2px black;
  border-radius: 50px;
  transition: .4s;
}

.btn-flat-border:hover {
  background: linear-gradient(-45deg, #b8751e 0%, #ffce08 37%, #fefeb2 47%, #fafad6 50%, #fefeb2 53%, #e1ce08 63%, #b8751e 100%);
  color: black;
}

/* 投稿一覧 */
.contents_row {
  text-align: center;
  margin-top: 130px;
}

.content_post {
  text-align: center;
  margin: 0 auto;
}

hr {
  border: none;
  background:linear-gradient(to right, white, gray, white);
  height: 3px;
  box-sizing: border-box;
}

/* バケットリスト横のアイコン */
.fa-lightbulb {
  color: gray;
}

/* いいねボタン */
.good_button {
  text-align: center;
}

/* 新規作成・編集ページ */
.new_form {
  text-align: center;
  margin-top: 20px;
  box-sizing: border-box;
}

.state-select {
  height: 30px;
  width: 100px;
  border: silver 4px inset;
}

.title_text {
  box-sizing: border-box;
  margin: 30px auto;
  height: 40px;
  width: 400px;
  border: 2px solid gray;
}

.button {
  display: inline-block;
  border-radius: 10%;
  font-size: 18px;
  margin-bottom: 15px;
  text-align: center;
  cursor: pointer;
  padding: 12px 12px;
  background: linear-gradient(45deg, #757575 0%, #9E9E9E 45%, #E8E8E8 70%, #9E9E9E 85%, #757575 90% 100%);
  color: white;
  line-height: 1em;
  transition: .3s;
  box-shadow: 6px 6px 3px #666666;
  border: 2px solid gray;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

.button:hover {
  box-shadow: none;
  color: black;
  background: white;
  text-shadow: none;
}

.state_mark {
  font-size:20px;
  text-align:center;
  line-height:0.95em;
  font-weight:bold; /* 太字 */
  color: #FFF;
  text-shadow: 0 0 0.2em rgba(0,0,0,1);
  margin-right: 10px;
}