.special {
  position: relative;
  cursor: pointer;
}

.balloon1 {
  display: none;
}

.balloon {
  position: absolute;
  display: inline;
  padding: 2px;
  background-color: rgba(153, 153, 153, 0.50);
  width: 280px;
  left: -320px;
  font-size: 80%;
}

.balloon:after{
  border-left: 12px solid rgba(153, 153, 153, 0.50);   /* 吹き出し口の幅・色 */
  border-top: 12px solid transparent;     /* 吹き出し口の高さ１／２ */
  border-bottom: 12px solid transparent;  /* 吹き出し口の高さ１／２ */
  right: -12px;                           /* 吹き出し口の位置調整 */
  top: 5%;                                /* 吹き出し口の縦位置 */
  content: "";                       /* コンテンツの挿入 */
  position: absolute;                /* 親要素を基準 */
}

.follow_button {
  position: absolute;
  top: 200px;
  left: 50px;
}

.follow_link {
  position: fixed;
  top: 200px;
  light: 0;
}

/* 上のリボン見出し */

.my_top {
  display: inline-block;
  position: relative;
  height: 45px;
  text-align: center;
  box-sizing: border-box; /* 型崩れを防ぐ */
  box-shadow: 0 0 8px gray;
  z-index: 1;
}

.my_top:before{/*左側のリボン端*/
  content: '';
  position: absolute;
  width: 10px;
  bottom: -10px;
  left: -25px;
  z-index: -10; /* 重なりが下になるように */
  border: 20px solid #DAAF08;
  border-left-color: transparent;/*山形に切り抜き*/
}

.my_top:after {/*右側のリボン端*/
  content: '';
  position: absolute;
  width: 10px;
  bottom: -10px;
  right: -25px;
  z-index: -10;
  border: 20px solid #DAAF08;
  border-right-color: transparent;/*山形に切り抜き*/
}

.my_top p {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0 20px;
  line-height: 45px;
  font-size: 20px;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
  background: linear-gradient(to right, #B67B03 0%, #DAAF08 15%, #FEE9A0 35%, #DAAF08 75%, #B67B03 100%);/*真ん中の背景色*/
}

.my_top p:before {
  position: absolute;
  content: '';
  top: 100%;
  left: 0;
  border-bottom: solid 10px transparent;
  border-right: solid 15px #B67B03;/*左の折り返し部分*/
}

.my_top p:after {
  position: absolute;
  content: '';
  top: 100%;
  right: 0;
  border-bottom: solid 10px transparent;
  border-left: solid 15px #B67B03;/*右の折り返し部分*/
}

/* 一覧の枠組み */
.list_frame {
  margin: 30px auto;
  width: 80vh;
  height: 900px;
  overflow: scroll;
  text-align: center;
  padding: 80px 40px;
  border-top: solid 5px #5d627b;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
  background: linear-gradient(-65deg, #E8E8E8 35%, #fff 50%, #E8E8E8 75%,#fff );
}